<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel = "stylesheet" href = "/public/stylesheets/manga.css" />

  <title>my-manga</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Overpass&display=swap" rel="stylesheet">

</head>

<header class="header">
    <%- include('../partials/header-2'); %>
  </header>

<body>

    <main>
        <div class="jumbotron">

          <% messages.forEach((msg) =>{ %>
            <p class="msg"><%= msg %></p>
         <% }) %>
          <% if (currentUser) {%>
            <p>Hello! <b><%= currentUser.name %></b>!</p> 
         
              <% if (mangas.length > 0) { %>

                <table class="table">

                <tr><th>Title</th><th>Genre</th><th>Status</th><th>Rating</th><th colspan="5">Edit / Delete</th></tr>

                <% mangas.forEach(function(manga){ %>
                  <tr><td><%= manga.name %></td><td class="title"><%= manga.genre %></td><td class="genre"><%= manga.status %></td><td><%= manga.rating %></td>

                    <td><a href=<%= "/manga/edit/" + manga.id %>  class="btn">Edit</a></td>

                    <td><a href=<%= "/manga/delete/" + manga.id %>  class="btn">Delete</a></td>

                  </tr>

                  <% }) %>

                  <div class="log-out"><a class="btn" href="/log-out">Log Out</a></div><br>

                </table>

                <a href="/manga/add" class="btn">Add Manga</a><br><br><br>

          <% } else { %>

            <h4>There are no manga in your list! Click to add a new book! </h4>

            <a href="/manga/add" class="btn">Add Manga</a><br><br><br>

            <a class="btn" href="/log-out">Log Out</a>

          <% } %>
          <% } %>

        </div>
        
      </main>

    

 
</body>


<footer class="footer">
  <%- include('../partials/footer'); %>
</footer>

</html>

